
{% extends 'base.html'%}
{% load static %}
{% block title %}About{% endblock title%}

{% block body %}
<div class="team-boxed">
    <div class="container">
      <div class="intro">
        <h2 class="text-center">About Team</h2>
      </div>
      <div class="row people">
        <div class="col-md-6 col-lg-5 item container-fluid" style="color: #75eeee;">
          <div class="box">
            <img class="rounded-circle" src="{% static 'x.jpg' %}" />
            <h3 class="name">Name</h3>
            <p class="title">Supervisor</p>
            <p class="description">
              Senior Lecturer, Department of Computer Science and Engineering,
                East West University
            </p>
            <div class="social">
              <a href="#"><i class="fa fa-facebook-official"></i></a
              ><a href="#"><i class="fa fa-twitter"></i></a
              ><a href="#"><i class="fa fa-instagram"></i></a>
            </div>
          </div>
        </div>
        
      </div>
      <div class="row people">
        <div class="col-md-6 col-lg-3 item">
          <div class="box cardHeight">
            <img class="rounded-circle" src="{% static 'x.jpg' %}" />
            <h3 class="name">Name</h3>
            <p class="title">2019-1-60</p>
            <p class="description">
              Department of Computer Science and Engineering,
                East West University
            </p>
            <div class="social">
              <a href="#"><i class="fa fa-facebook-official"></i></a
              ><a href="#"><i class="fa fa-twitter"></i></a
              ><a href="#"><i class="fa fa-instagram"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 item">
          <div class="box cardHeight">
            <img class="rounded-circle" src="{% static 'X.jpg' %}" />
            <h3 class="name">Name</h3>
            <p class="title">2019-2-60</p>
            <p class="description">
              Department of Computer Science and Engineering,
                East West University
            </p>
            <div class="social">
              <a href="https://www.facebook.com/"><i class="fa fa-facebook-official"></i></a
              ><a href="#"><i class="fa fa-twitter"></i></a
              ><a href="#"><i class="fa fa-instagram"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 item">
          <div class="box cardHeight">
            <img class="rounded-circle" src="{% static 'x.jpg' %}" />
            <h3 class="name">Name</h3>
            <p class="title">2019-1-60-</p>
            <p class="description">
              Department of Computer Science and Engineering,
  East West University
            </p>
            <div class="social">
              <a href="#"><i class="fa fa-facebook-official"></i></a
              ><a href="#"><i class="fa fa-twitter"></i></a
              ><a href="#"><i class="fa fa-instagram"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 item">
          <div class="box cardHeight">
            <img class="rounded-circle" src="{% static 'x.jpg' %}" />
            <h3 class="name">Name</h3>
            <p class="title">2019-2-60</p>
            <p class="description">
              Department of Computer Science and Engineering,
  East West University
            </p>
            <div class="social">
              <a href="#"><i class="fa fa-facebook-official"></i></a
              ><a href="#"><i class="fa fa-twitter"></i></a
              ><a href="#"><i class="fa fa-instagram"></i></a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
{% endblock body%}
